<!DOCTYPE html>
<html>
<head>
    <title>CareHQ Mobile</title>
    <script src="http://cdn.sencha.io/touch/1.1.0/sencha-touch.js" type="text/javascript"></script>
    <link href="http://cdn.sencha.io/touch/1.1.0/resources/css/sencha-touch.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        Ext.regModel('Patient', {
            fields: [
                'first_name',
                'last_name',
                'date_modified',
                'gender',
                'dob',
                'django_uuid'
            ]
        });

        var store = new Ext.data.Store({
           model: 'Patient',
            sorters: 'last_name',
            getGroupString : function(record) {
                return record.get('last_name')[0];
            },
            proxy: {
                type: 'ajax',
                url : '/mepi/api/ShinePatient/?username={{request.user.username}}&api_key={{request.user.api_key.key}}&format=json', /* real url goes here */
                root: 'objects'
            }
        });
        store.load();

        var theForm = new Ext.form.FormPanel({
            items: [
                {
                    xtype: 'textfield',
                    name: 'first_name',
                    label: 'First Name',
                    readOnly: true
                },
                {
                    xtype: 'textfield',
                    name: 'last_name',
                    label: 'Last Name',
                    readOnly: true
                },
                {
                    xtype: 'datepickerfield',
                    name: 'dob',
                    label: 'Date of Birth',
                    readOnly: true
                },
                {
                    xtype: 'textfield',
                    name: 'gender',
                    label: 'Gender',
                    readOnly: true
                }
            ]
        });

        new Ext.Application({
            launch: function() {
                var navPanel = new Ext.Panel({
                    layout: 'card',
                    fullscreen: true,
                    cardSwitchAnimation: 'slide',
                    items: [

                        new Ext.Panel({
                            /* Patient List */
                            itemId: 'patientList',
                            layout: 'vbox',
                            fullscreen: true,

                            styleHtmlContent: true,
                            items: [
                                new Ext.List({itemTpl: '{first_name} {last_name}',
                                    grouped : true,
                                    indexBar: true,
                                    singleSelect: false,
                                    multiSelect: false,
                                    flex: 10,
                                    width: "100%",
                                    store: store,
                                    listeners: {
                                        itemtap: function(foo, index, item, e){
                                            console.log(item);
                                            console.log(foo.getRecord(item));
                                            theForm.load(foo.getRecord(item));
                                            navPanel.setActiveItem(1);
                                        }}
                                }),

                                {flex: 1,
                                    layout: 'hbox',
                                    items: [
                                        new Ext.Button({ui: 'confirm',
                                            text:'Add Patient',
                                            iconCls: 'add',
                                            iconMask: true,
                                            centered: true,
                                            disabled: true,
                                            margin: '40',
                                            handler: function(b, e) {
                                            }}),
                                        new Ext.Button({ui: 'decline',
                                            text:'Logout',
                                            margin: '40'})
                                    ]
                                }],
                            dockedItems: [{xtype:'toolbar', title:'Patient List :: CareHQ Mobile', docked: 'top'},
                                {xtype: 'toolbar', dock: 'bottom', items: [
                                    {flex: 1,
                                        xtype: 'searchfield',
                                        placeHolder: 'Search'}


                                ]}]
                        }),
                        new Ext.Panel({
                            itemId: 'patientInfo',
                            layout: 'vbox',
                            fullscreen: true,
                            dockedItems: [{xtype:'toolbar', title:'Patient Info :: CareHQ Mobile', docked: 'top'},
                                {xtype: 'toolbar', dock: 'top', items: [
                                    new Ext.Button({
                                    text: "back",
                                    ui: 'back',
                                    handler: function() {
                                        navPanel.setActiveItem(0, {type: 'slide', reverse: true});
                                    },
                                    scope: this
                                })]}],
                            items: [
                                theForm
                            ]
                        })]

                });
            }
        });
    </script>
</head>
<body></body>
</html>
